.page-footer {
    display: flex;
    padding: 20px 0 0;

    h1 {
        margin: 0;
        color: var(--bg-main-heading);
        flex-grow: 1;
    }

    .btn {
        margin-right: 10px;
        margin-bottom: 10px;

        &:last-child {
            margin-right: 0;
        }

    }
}
