:root,
[data-bs-theme=light] {
    --color-light: #f9f9f9;
    --color-light-2: #F4F6FC;
    --color-light-3: #fdfdff;
    --color-light-4: #dfdfdf;
    --color-light-5: #f7f7f7;
    --color-light-6: #fdfdfd;
    --color-light-7: #eee;
    --color-light-8: #f9f8f8;
    --color-primary: #007FE9;
    --color-primary-hover: #0975CE;
    --color-success: #19a541;
    --color-success-hover: #138635;
    --color-warning: #F3C610;
    --color-warning-hover: #DCB30E;
    --color-info: #39B1D7;
    --color-info-hover: #1A94BA;
    --color-danger: #FF0B37;
    --color-danger-hover: #E01B1B;
    --color-default: #fff;
    --color-default-hover: #f9f9f9;
    --color-light-gray: #E7ECF2;
    --color-light-gray-hover: #e3e8ee;
    --color-light-gray-2: #B8BFCC;
    --color-light-gray-3: #bebecb;
    --color-dark: #283146;
    --color-dark-hover: #212a3d;
    --color-text-white: #fff;
    --color-text-black: #000;
    --color-text-green: green;
    --color-text-red: red;
    --color-text-gray: #3E4B5B;
    --color-text-gray-2: #666;
    --color-text-gray-3: #52505F;
    --color-text-gray-4: #686F88;
    --color-text-gray-5: #999;
    --color-text-gray-6: #555;
    --color-text-gray-7: #333;
    --color-bg-white: #fff;
    --color-bg-black: #000;
    --color-form-disabled: #767676;

    --body-bg: var(--color-light-2);
    --body-color: #212529;
    --border-main-color: #eee;
    --bg-main-heading: #333;

    --btn-icon-bg: #fff;
    --btn-icon-border: var(--color-light-3);
    --btn-icon-border-hover: var(--color-light-gray-3);
    --btn-icon-default-color: var(--color-dark);
    --btn-icon-default-hover-color: var(--color-dark-hover);
    --btn-icon-success-color: var(--color-success);
    --btn-icon-success-hover-color: var(--color-success-hover);
    --btn-icon-danger-color: var(--color-danger);
    --btn-icon-danger-hover-color: var(--color-danger-hover);

    --btn-default-bg: var(--color-default);
    --btn-default-color: var(--color-text-gray);
    --btn-default-border: var(--color-light-gray-2);
    --btn-default-hover-bg: var(--color-default-hover);
    --btn-default-hover-color: var(--color-text-gray);
    --btn-default-hover-border: var(--color-light-gray-2);
    --btn-primary-bg: var(--color-primary);
    --btn-primary-color: #fff;
    --btn-primary-border: var(--color-primary-hover);
    --btn-primary-hover-bg: var(--color-primary-hover);
    --btn-primary-hover-color: #fff;
    --btn-primary-hover-border: var(--color-primary-hover);
    --btn-success-bg: var(--color-success);
    --btn-success-color: #fff;
    --btn-success-border: var(--color-success-hover);
    --btn-success-hover-bg: var(--color-success-hover);
    --btn-success-hover-color: #fff;
    --btn-success-hover-border: var(--color-success-hover);
    --btn-warning-bg: var(--color-warning);
    --btn-warning-color: #000;
    --btn-warning-border: var(--color-warning-hover);
    --btn-warning-hover-bg: var(--color-warning-hover);
    --btn-warning-hover-color: #000;
    --btn-warning-hover-border: var(--color-warning-hover);
    --btn-info-bg: var(--color-info);
    --btn-info-color: #fff;
    --btn-info-border: var(--color-info-hover);
    --btn-info-hover-bg: var(--color-info-hover);
    --btn-info-hover-color: #fff;
    --btn-info-hover-border: var(--color-info-hover);
    --btn-danger-bg: var(--color-danger);
    --btn-danger-color: #fff;
    --btn-danger-border: var(--color-danger-hover);
    --btn-danger-hover-bg: var(--color-danger-hover);
    --btn-danger-hover-color: #fff;
    --btn-danger-hover-border: var(--color-danger-hover);
    --btn-light-bg: var(--color-light-gray);
    --btn-light-color: var(--color-text-gray);
    --btn-light-border: var(--color-light-gray-2);
    --btn-light-hover-bg: var(--color-light-gray-hover);
    --btn-light-hover-color: var(--color-text-gray);
    --btn-light-hover-border: var(--color-light-gray-2);
    --btn-dark-bg: var(--color-dark);
    --btn-dark-color: var(--color-text-white);
    --btn-dark-border: var(--color-dark-gray-2);
    --btn-dark-hover-bg: var(--color-dark-hover);
    --btn-dark-hover-color: var(--color-text-white);
    --btn-dark-hover-border: var(--color-dark-gray-2);

    --btn-add-more-bg: #eee;
    --btn-add-more-border: #dbdbdbee;
    --btn-add-more-color: var(--color-text-gray-2);

    --bg-prism: #f4f2f0;
    --loader-border-light: #f3f3f3;
    --loader-border-blue: #3498db;
    --scrollbar-track: #fbfbfb;
    --scrollbar-thumb: #a8a8a8;
    --input-focus-color: #2668fd;
    --input-search-placeholder-color: #70808E;
    --inputs-only-read-border: #e3e3e3;
    --logo-color: var(--color-dark);
    --search-text-color: var(--color-primary);

    --select2-multiple-choice-bg: #c8def5;
    --select2-multiple-choice-color: var(--color-text-black);
    --select2-dropdown-bg: #fff;
    --select2-dropdown-border: #aaa;
    --select2-dropdown-color: #000;
    --select2-selected-bg: #ddd;
    --select2-selected-remover-color: #999;
    --select2-selected-remover-hover-color: var(--color-text-black);
    --select2-hover-bg: #5897fb;
    --select2-hover-color: #fff;
    --select2-searh-bg: #fff;
    --select2-searh-border-color: #aaa;

    --tooltip-btn-bg: var(--color-primary);
    --tooltip-error-bg: var(--color-danger);
    --tooltip-error-color: #fff;
    --tooltip-success-bg: var(--color-success);
    --tooltip-success-color: #fff;

    --checkbox-active-color: #275EFE;
    --checkbox-active-inner-color: #fff;
    --checkbox-focus-color: rgba(39, 94, 254, .3);
    --checkbox-border-color: #BBC1E1;
    --checkbox-border-hover-color: #275EFE;
    --checkbox-bg-color: #fff;
    --checkbox-disbled-color: #F6F8FF;
    --checkbox-disbled-inner-color: #8fa6ff;

    --box-type-choose-color: var(--color-dark);
    --box-type-choose-hover-color: var(--color-text-black);
    --box-type-choose-active-color: var(--color-primary);
    --box-type-choose-default-color: var(--color-dark);
    --box-type-choose-default-hover-color: var(--color-text-black);
    --box-type-choose-default-active-color: var(--color-text-black);
    --box-type-choose-danger-color: #df0a1f;
    --box-type-choose-danger-hover-color: #dc3545;
    --box-type-choose-danger-active-color: #dc3545;
    --box-type-choose-warning-color: #ff9d06;
    --box-type-choose-warning-hover-color: #eaaf00;
    --box-type-choose-warning-active-color: #eaaf00;
    --box-type-choose-success-color: #249862;
    --box-type-choose-success-hover-color: #198754;
    --box-type-choose-success-active-color: #198754;
    --box-type-choose-primary-color: var(--color-primary);
    --box-type-choose-primary-hover-color: var(--color-primary-hover);
    --box-type-choose-primary-active-color: var(--color-primary-hover);

    --bg-label-default: #f1f1f1;
    --bg-hover-label-default: #dadada;
    --color-label-default: #333;
    --bg-label-primary: #0D6EFDFF;
    --bg-hover-label-primary: #0052cc;
    --color-label-primary: #fff;
    --bg-label-success: #198754FF;
    --bg-hover-label-success: #10623c;
    --color-label-success: #fff;
    --bg-label-warning: #FFC107FF;
    --bg-hover-label-warning: #f5b900;
    --color-label-warning: #fff;
    --bg-label-danger: #DC3545FF;
    --bg-hover-label-danger: #c52133;
    --color-label-danger: #fff;

    --swal-action-cancel-bg: #ebebeb;
    --swal-action-cancel-color: #333;
    --swal-bg-color: #fff;
    --swal-text-color: #545454;

    --bg-tr-added-right-now-border: #0097ff;
    --bg-tr-edited-right-now-border: #00b72d;

    --bg-toast-default: #454545;
    --color-toast-default: #fff;
    --bg-toast-info: #027fe9;
    --color-toast-info: #fff;
    --bg-toast-error: #e33636;
    --color-toast-error: #fff;
    --bg-toast-success: #1d9a31;
    --color-toast-success: #fff;

    --bg-header-color: var(--color-bg-white);
    --bg-header-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    --nav-overtop-bg: #f3f6fb;
    --nav-overtop-a-color: #283145;
    --nav-overtop-a-active-color: var(--color-primary);
    --nav-overtop-a-active-count-color: var(--color-primary-hover);
    --nav-overtop-count-color: #515151;
    --nav-header-a-color: var(--color-text-gray);
    --nav-header-a-i-color: var(--color-light-gray-2);
    --nav-header-a-active-color: var(--color-primary);
    --nav-sidebar-active-li-bg: #fafbfc;
    --nav-subnav-info-color: #606060;
    --nav-count-bg: #027fe8;
    --nav-count-color: var(--color-text-white);
    --nav-avatar-link-color: #70808E;
    --nav-avatar-border-color: var(--color-bg-white);
    --nav-sidebar-bg: var(--color-bg-white);
    --nav-sidebar-shadow: 5px 3px 20px rgba(0, 0, 0, 0.05);
    --nav-sidebar-border: var(--color-light-gray);

    --table-th-color: #8094AE;
    --table-th-border: var(--color-light-gray);
    --table-th-bg: var(--color-bg-white);
    --table-tr-hover-bg: #F4FAFF;
    --table-tr-hover-border: var(--color-primary);
    --table-tr-hover-td-first-border: #fafafd;
    --table-td-color: var(--color-dark);
    --table-td-border: var(--color-light-gray);
    --table-td-bg: var(--color-bg-white);
    --table-thead-left-border: #fafafd;
    --table-tr-bg-primary: #fafafd;
    --table-sortable-chosen-bg: #ccedff;
    --table-sortable-highlight-bg: #e8f1ed;
    --table-no-rows-found-color: var(--color-text-gray);



    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text: #0a58ca;
    --bs-secondary-text: #6c757d;
    --bs-success-text: #146c43;
    --bs-info-text: #087990;
    --bs-warning-text: #997404;
    --bs-danger-text: #b02a37;
    --bs-light-text: #6c757d;
    --bs-dark-text: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #f8f9fa;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #fcfcfd;
    --bs-dark-bg-subtle: #ced4da;
    --bs-primary-border-subtle: #9ec5fe;
    --bs-secondary-border-subtle: #e9ecef;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #e9ecef;
    --bs-dark-border-subtle: #adb5bd;
    --bs-heading-color: var(--bg-main-heading);
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.375;
    --bs-body-color: var(--body-color);
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0, 0, 0;
    --bs-secondary-color: rgba(33, 37, 41, 0.75);
    --bs-secondary-color-rgb: 33, 37, 41;
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-bg-rgb: 233, 236, 239;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --bs-tertiary-color-rgb: 33, 37, 41;
    --bs-tertiary-bg: #f8f9fa;
    --bs-tertiary-bg-rgb: 248, 249, 250;
    --bs-body-bg: #fff;
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: 13, 110, 253;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #0a58ca;
    --bs-link-hover-color-rgb: 10, 88, 202;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
    --bs-form-control-bg: var(--bs-body-bg);
    --bs-form-control-disabled-bg: var(--bs-secondary-bg);
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}
